Builds/LinuxMakefile/build
Builds/VisualStudio2017/Debug
Builds/VisualStudio2017/Release
Builds/VisualStudio2017/x64
Builds/VisualStudio2017/*.filters
Builds/VisualStudio2017/.vs
Builds/VisualStudio2017/*.user
Builds/x64
.DS_Store
Builds/MacOSX/build
Builds/MacOSX/BuskMagic.xcodeproj/xcuserdata
Builds/MacOSX/BuskMagic.xcodeproj/xcshareddata
Builds/MacOSX/BuskMagic.xcodeproj/project.xcworkspace
